@import "tailwindcss";

/* Scroll suave global */
html {
  scroll-behavior: smooth;
}

/* Tipografías principales */
:root {
  --font-body: 'Inter', sans-serif;
  --font-title: 'Playfair Display', serif;

  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-body);
  background: var(--background);
  color: var(--foreground);
}
